In [1]:
import pandas as pd

# Load the JSON file into a DataFrame
df = pd.read_json(r'haunted_data.json')  # Replace with your actual file name

# Display the DataFrame
df

,city,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude,...,duration (seconds),comments,GeotopicName,GeoLat,GeoLong,Named_Entities,Caption,image_path,generated_caption,caption_confidence
0,ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,mi,-85.5048931,42.9621061,-85.495480,42.960727,...,1200,Very bright light over horizon which moved abo...,Egypt Valley Country Club,43.0125,-85.50056,"Ada witch -, 3-mile, the Ada Cemetery, Egypt V...","At Ada Cemetery, people have reported Ada witc...",generated_images\image_0001.png,a group of lawn chairs sitting next to each ot...,0.000025
1,addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,mi,-84.3818434,41.9714248,-84.347168,41.986434,...,Not Exist,Not Exist,None,NaN,NaN,"in.1 month later, this day","At North Adams Rd., people have reported A lit...",generated_images\image_0002.png,a red fire hydrant sitting on the side of a ro...,0.001917
2,adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,mi,-84.0356562,41.904538,-84.037166,41.897547,...,3600,craft with blue and red aura around it ((Twin...,None,NaN,NaN,"Gorman Rd, Sand Creek, one, one, Late one nigh...","At Ghost Trestle, people have reported If you ...",generated_images\image_0003.png,a train traveling over a bridge over a river .,0.004833
3,adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,mi,-84.0175653,41.9057124,-84.037166,41.897547,...,3600,craft with blue and red aura around it ((Twin...,None,NaN,NaN,"1970, one, 211, today, one, two, first, the ne...","At Siena Heights University, people have repor...",generated_images\image_0004.png,a kitchen with a refrigerator and a stove,0.000053
4,albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,mi,-84.7451775,42.2440064,-84.753030,42.243097,...,7200,AMAZING FOOTAGE OF STRANGE LIGHTS / OBJECTS / ...,None,NaN,NaN,Kappa Delta Sorority - The Kappa Delta Sororit...,"At Albion College, people have reported Kappa ...",generated_images\image_0005.png,a tall building with a clock on top of it .,0.000268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10971,westminster,United States,at 12 midnight you can see a lady with two lit...,city hall,Colorado,co,-105.048936,39.8626099,-105.037205,39.836653,...,3600,was not a star or anything of nature. ((NUFOR...,None,NaN,NaN,"12 midnight, two, Sheridan St.","At city hall, people have reported at 12 midni...",generated_images\image_10972.png,a woman walking down a street next to a tall b...,0.000079
10972,westminster,United States,Is haunted by the victims of a murder that hap...,Pillar of Fire,Colorado,co,-105.0320914,39.8472373,-105.037205,39.836653,...,3600,was not a star or anything of nature. ((NUFOR...,None,NaN,NaN,years ago,"At Pillar of Fire, people have reported Is hau...",generated_images\image_10973.png,a tall brick building with a clock on it .,0.000773
10973,wheat ridge,United States,The institution was for kids 18 years old and ...,Ridge Mental Institution,Colorado,co,-105.0639735,39.7697258,-105.077206,39.766098,...,1200,Triangle Bright light formation flying sideways,None,NaN,NaN,"18 years old, 70, one, hundreds","At Ridge Mental Institution, people have repor...",generated_images\image_10974.png,a building with a clock on the top of it .,0.000309
10974,wheat ridge,United States,Gymnasium - their have been reports of a litt...,Wheat Ridge Middle School,Colorado,co,-105.1036126,39.7640549,-105.077206,39.766098,...,1200,Triangle Bright light formation flying sideways,None,NaN,NaN,No entities,"At Wheat Ridge Middle School, people have repo...",generated_images\image_10975.png,a group of people standing on top of a tennis ...,0.000630
10975,woodland park,United States,Cadets from the Air Force Academy participatin...,Saylor Park Forest,Colorado,co,-105.022763,39.1166582,-105.056930,38.993881,...,120,Lights and a thin retangular shape.,None,NaN,NaN,"the Air Force Academy, Survival, between 1am-3am","At Saylor Park Forest, people have reported Ca...",generated_images\image_10976.png,a group of people standing next to each other .,0.002213

In [2]:
import pandas as pd

# Convert latitude and longitude to numeric (float), coerce errors to NaN
df['latitude'] = pd.to_numeric(df['latitude'], errors='coerce')
df['longitude'] = pd.to_numeric(df['longitude'], errors='coerce')

# Drop rows where latitude or longitude is missing
df = df.dropna(subset=['latitude', 'longitude'])

summary_df = df.groupby(['city', 'state_abbrev'], as_index=False).agg(
    sighting_counts=('city', 'count'),
    latitude=('latitude', 'mean'),
    longitude=('longitude', 'mean')
)
summary_df = summary_df[['city', 'sighting_counts', 'state_abbrev', 'latitude', 'longitude']]
# summary_df[summary_df['city'].str.lower() == 'marquette']
summary_df

             city  sighting_counts state_abbrev   latitude   longitude
0       <>manteca                1           ca  37.943595 -122.068543
1       abbeville                1           sc  34.177567  -82.377870
2     abercrombie                1           nd  46.444854  -96.719415
3        aberdeen                1           md  39.500267  -76.208439
4        aberdeen                1           nc  35.120880  -79.413785
...           ...              ...          ...        ...         ...
4756         zion                1           il  42.464859  -87.824094
4757   zionsville                1           in  39.968019  -86.282865
4758         zoar                1           oh  40.613289  -81.422526
4759         zoar                1           wi  45.014540  -88.900755
4760       zwolle                1           la  31.609416  -93.652862

[4761 rows x 5 columns]

In [18]:
# Save the DataFrame as a JSON file
summary_df.to_json("sightings.json", orient="records", indent=4)

# for getting json of event type

In [3]:
import pandas as pd

# Load the JSON file into a DataFrame
event_df = pd.read_json(r'D:\viterbi syllabus\dsci550\hw3\haunted_data.json')  # Replace with your actual file name

# Display the DataFrame
event_df = event_df.groupby(['state_abbrev', 'state', 'Event Type']).size().reset_index(name='event_count')
# Drop rows where event_type is 'Unknown'
event_df = event_df[event_df['Event Type'].str.lower() != 'unknown']

In [6]:
event_df.to_json("event_type.json", orient="records", indent=4)

In [8]:
import json
from collections import defaultdict

# Load your file
with open("event_type.json") as f:
    data = json.load(f)

# Build hierarchy
states = defaultdict(list)
for row in data:
    states[row["state_abbrev"].upper()].append({
        "name": row["Event Type"],
        "value": row["event_count"]
    })

# Final structure
packed_data = {
    "name": "US Events",
    "children": [{"name": state, "children": events} for state, events in states.items()]
}

# Save to new JSON
with open("circle_packing_data.json", "w") as f:
    json.dump(packed_data, f, indent=2)

# lollipop chart json for eyewitness count and caption

In [4]:
summary_df

             city  sighting_counts state_abbrev   latitude   longitude
0       <>manteca                1           ca  37.943595 -122.068543
1       abbeville                1           sc  34.177567  -82.377870
2     abercrombie                1           nd  46.444854  -96.719415
3        aberdeen                1           md  39.500267  -76.208439
4        aberdeen                1           nc  35.120880  -79.413785
...           ...              ...          ...        ...         ...
4756         zion                1           il  42.464859  -87.824094
4757   zionsville                1           in  39.968019  -86.282865
4758         zoar                1           oh  40.613289  -81.422526
4759         zoar                1           wi  45.014540  -88.900755
4760       zwolle                1           la  31.609416  -93.652862

[4761 rows x 5 columns]

In [5]:
import pandas as pd
import json

# Load the JSON file
witness = pd.read_json(r'haunted_data.json')  # Replace with your actual file name



# Ensure Estimated Eyewitnesses is numeric
witness['Estimated Eyewitnesses'] = pd.to_numeric(witness['Estimated Eyewitnesses'], errors='coerce')

# Drop rows with NaN in essential columns
witness = witness.dropna(subset=['state', 'state_abbrev', 'Estimated Eyewitnesses', 'Caption'])

# Group by state and state_abbrev to get total eyewitnesses
sum_df = witness.groupby(['state', 'state_abbrev'], as_index=False)['Estimated Eyewitnesses'].sum()

# Get caption with the max eyewitnesses per state
idx = witness.groupby(['state', 'state_abbrev'])['Estimated Eyewitnesses'].idxmax()
caption_df = witness.loc[idx, ['state', 'state_abbrev', 'Caption']]

# Merge totals with max-caption
result_df = pd.merge(sum_df, caption_df, on=['state', 'state_abbrev'])

result_df

,state,state_abbrev,Estimated Eyewitnesses,Caption
0,Alabama,al,2805,"At Midway Baptist Church, people have reported..."
1,Alaska,ak,574,"At Old Copper Railroad, people have reported T..."
2,Arizona,az,1988,"At Museum Club, people have reported The voice..."
3,Arkansas,ar,1737,"At Mark's Mill, people have reported Ghosts of..."
4,California,ca,17871,"At Indio High School, people have reported Ind..."
5,Colorado,co,2795,"At Wards, people have reported Wards what now ..."
6,Connecticut,ct,3478,"At Chamberlain Highway (Rt.72), people have re..."
7,Delaware,de,511,"At Pachette Playhouse, people have reported La..."
8,Florida,fl,6088,"At Wayside Antiques, people have reported Sout..."
9,Georgia,ga,4892,"At Braselton Town Hall, people have reported T..."
10,Hawaii,hi,1546,"At Honolulu, people have reported Waianae,Mail..."
11,Idaho,id,1247,"At Lewiston Civic Theatre, people have reporte..."
12,Illinois,il,7907,"At The old Stone Cottage Pizzeria, people have..."
13,Indiana,in,6144,"At Austin High School, people have reported th..."
14,Iowa,ia,2684,"At Des Moines International Airport, people ha..."
15,Kansas,ks,1825,"At Topeka State Hospital, people have reported..."
16,Kentucky,ky,6075,"At Cumberland Falls State Park, people have re..."
17,Louisiana,la,1489,"At Taylortown Tower, people have reported Bell..."
18,Maine,me,843,"At Paddy Holler, people have reported Foxcroft..."
19,Maryland,md,3050,"At Mount Wilson State Hospital, people have re..."
20,Massachusetts,ma,5273,"At Dunn Pond State Park, people have reported ..."
21,Michigan,mi,10198,"At Northville Tunnels, people have reported In..."
22,Minnesota,mn,2414,"At Marian Center (Old Mounds Park Hospital), p..."
23,Mississippi,ms,865,"At Asbury Cemetery, people have reported Asbur..."
24,Missouri,mo,5698,"At Sullivan, people have reported Glaser Road ..."
25,Montana,mt,657,"At Sheraton Hotel, people have reported One of..."
26,Nebraska,ne,1641,"At Super China Buffet, people have reported Th..."
27,Nevada,nv,784,"At Hot Ponds, people have reported Just outsid..."
28,New Hampshire,nh,1542,At Mark H. Wentworth home for the chronically ...
29,New Jersey,nj,2722,"At Caranza Road, people have reported A long R..."
30,New Mexico,nm,1353,"At Holy Cross Sanatorium, people have reported..."
31,New York,ny,7230,"At The City College of New York, people have r..."
32,North Carolina,nc,3102,"At U.S. Highway 70 underpass, people have repo..."
33,North Dakota,nd,1012,"At Stoney End, people have reported A man was ..."
34,Ohio,oh,7073,"At out skirts of Clyde, people have reported I..."
35,Oklahoma,ok,3751,"At Pizza Hut, people have reported The Pizza H..."
36,Oregon,or,2719,"At Old OIT on old fort road, people have repor..."
37,Pennsylvania,pa,9533,"At The Tracks, people have reported A train us..."
38,Rhode Island,ri,1083,"At Colt State Park, people have reported Used ..."
39,South Carolina,sc,3123,"At Mechanicsville, people have reported Montro..."
40,South Dakota,sd,894,"At Old Rapid City High School, people have rep..."
41,Tennessee,tn,3427,"At graves creek, people have reported IN THE E..."
42,Texas,tx,11351,"At Lakeview High School, people have reported ..."
43,Utah,ut,2531,"At Hobbs Hollow, people have reported In Layto..."
44,Vermont,vt,858,"At Averill Stand, people have reported Averill..."
45,Virginia,va,2431,"At Henrico County, people have reported Shirly..."
46,Washington,wa,3470,"At Maltby Cemetery, people have reported It is..."
47,West Virginia,wv,1495,"At Peterkin Religious Retreat, people have rep..."
48,Wisconsin,wi,4076,"At Wauwatosa West High School, people have rep..."
49,Wyoming,wy,839,"At The Historic Sheridan Inn, people have repo..."

In [19]:
result_df.to_json("witness.json", orient="records", indent=4)